$font-Manrope: 'Manrope', sans-serif;
$font-MessinaSans: 'MessinaSans', sans-serif;
$font-MessinaSansSerif: 'MessinaSansSerif', sans-serif;
$font-MessinaSansMono: 'MessinaSansMono', sans-serif;

// Colors
$color-black: #1A1A1A;
$color-red: #F2571F;

// Media queries
$desktop-extra: 1200px;
$desktop: 992px;
$tablet: 768px;
$mobile: 576px;